<h2><%= section %></h2>
<table>
	<% @checklist.items.select{|item| item.section == section}.each do |i|%> 
		<tr>
			<td>
				<%= i.title.strip %>
			</td>
			<% unless @checklist.approved %>
				<td>
					<%= i.status.strip %>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>
